
'.platform-linux':
  'alt-1': 'unset!'
  'alt-2': 'unset!'
  'alt-3': 'unset!'
  'alt-4': 'unset!'
  'alt-5': 'unset!'
  'alt-6': 'unset!'
  'alt-7': 'unset!'
  'alt-8': 'unset!'
  'alt-9': 'unset!'
  'alt-shift-left': 'editor:move-selection-left'
  'alt-shift-right': 'editor:move-selection-right'
  'backspace': 'core:backspace'
  'ctrl-,': 'application:show-settings'
  'ctrl-+': 'abort!'
  'ctrl--': 'abort!'
  'ctrl-=': 'abort!'
  'ctrl-_': 'abort!'
  'ctrl-c': 'core:copy'
  'ctrl-v': 'core:paste'
  'ctrl-x': 'core:cut'
  'ctrl-insert': 'unset!'
  'shift-insert': 'unset!'
  'shift-delete': 'unset!'

'.platform-darwin':
  'alt-1': 'unset!'
  'alt-2': 'unset!'
  'alt-3': 'unset!'
  'alt-4': 'unset!'
  'alt-5': 'unset!'
  'alt-6': 'unset!'
  'alt-7': 'unset!'
  'alt-8': 'unset!'
  'alt-9': 'unset!'
  'alt-shift-left': 'editor:move-selection-left'
  'alt-shift-right': 'editor:move-selection-right'
  'backspace': 'core:backspace'
  'cmd-,': 'application:show-settings'
  'cmd-+': 'abort!'
  'cmd--': 'abort!'
  'cmd-=': 'abort!'
  'cmd-_': 'abort!'
  'cmd-c': 'core:copy'
  'cmd-v': 'core:paste'
  'cmd-x': 'core:cut'
  'cmd-insert': 'unset!'
  'shift-insert': 'unset!'
  'shift-delete': 'unset!'


'.platform-linux atom-text-editor':
  'ctrl-d': "editor:delete-line"
  'ctrl-shift-D': 'find-and-replace:select-next'
  'ctrl-shift-down': 'editor:duplicate-lines'


'.platform-darwin atom-text-editor':
  'cmd-d': "editor:delete-line"
  'cmd-shift-D': 'find-and-replace:select-next'
  'cmd-shift-down': 'editor:duplicate-lines'
